<ion-header>
    <ion-navbar color="secondary">
        <br>
        <div style="padding-left: 6px">
            <ion-title>New Image</ion-title>

        </div>
        <br>
        <ion-buttons start>
            <button ion-button (click)="cancelNewThread()">
        <ion-icon name="arrow-back"></ion-icon>  Cancel
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="createThreadForm" (ngSubmit)="onSubmit(createThreadForm.value)">
        <ion-grid>
            <ion-row>
                <ion-col width-80>
                    <ion-item [class.error]="!title.valid && title.touched" class="titlebar">
                        <ion-label floating>Title</ion-label>
                        <ion-input type="text" value="" [formControl]="title"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col width-20>
                    <button ion-button full (click)="openImageOptions()" class="cambutton "><ion-icon name="camera"></ion-icon></button>
                </ion-col>

            </ion-row>
            <ion-col>
                <div *ngIf="title.hasError('required') && title.touched" class="error-box ">* Title is required.</div>
            </ion-col>

            <ion-col>
                <ion-card>
                    <img src="http://i.4cdn.org/i/1480117550986.png" />
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-item [class.error]="!desc.valid && desc.touched">
                    <ion-label floating>Description</ion-label>
                    <ion-textarea [formControl]="desc" rows="3"></ion-textarea>
                </ion-item>

                <div *ngIf="desc.hasError('required') && desc.touched" class="error-box">* Description is required.</div>
                <div *ngIf="desc.hasError('minlength') && desc.touched" class="error-box">* Type at least 100 characters.</div>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Category</ion-label>
                    <ion-select multiple="false" [formControl]="category">
                        <ion-option value="Fashion" checked="true">Fashion</ion-option>
                        <ion-option value="Food">Food</ion-option>
                        <ion-option value="Technology">Technology</ion-option>
                        <ion-option value="Etc.">Etc.</ion-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="category.hasError('minlength')" class="error-box">* Select at least one category.</div>
            </ion-col>
        </ion-grid>
        <br/><br/>

        <button ion-button type="submit" class="custom-button" [disabled]="!createThreadForm.valid" block>Submit</button>
    </form>
</ion-content>